@model SearchResult<User>


@{
    ViewData["Title"] = "Index";
}



@section title{

    ادارة المستفيدين
    <small>
        صفحة حذف وتعديل واضافة المستفيدين
    </small>
}



<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-user"></i>
            <span class="caption-subject bold uppercase">
                قائمة المستفيدين
            </span>
            <span class="caption-helper">

            </span>
        </div>
        <div class="actions">
            <button data-toggle="modal" data-target="#add-modal" class="btn green">
                <i class="fa fa-plus"></i>
                @CommonText.Add
            </button>
        </div>
    </div>
    <div class="portlet-body">

        <div id="list">
            @Html.Partial("_List")
        </div>

    </div>
</div>


<bootstrap-modal id="add-modal" asp-content-id="add-content" data-reset-form="true">

    <bootstrap-modal-header>
        <h4 class="modal-title">
            @CommonText.Add
        </h4>

    </bootstrap-modal-header>

    <form id="add-form"
          asp-ajax="true"
          asp-controller="User"
          asp-action="Add"
          asp-ajax-error="#add-alert"
          asp-ajax-modal="#add-modal"
          asp-ajax-success-method="updateList();"
          asp-ajax-block="#add-content"
          method="post">

        <bootstrap-modal-body>
            <div id="add-alert" data-alert=""></div>

            @Html.Partial("_Form", new UserViewModel())
        </bootstrap-modal-body>

        <bootstrap-modal-footer asp-show-close-button="true">

            <button type="submit" class="btn btn-success">
                @CommonText.Add
            </button>
        </bootstrap-modal-footer>

    </form>

</bootstrap-modal>



<bootstrap-modal id="edit-modal" asp-content-id="edit-content">

    <bootstrap-modal-header>
        <h4 class="modal-title">
            @CommonText.Add
        </h4>

    </bootstrap-modal-header>

    <form id="edit-form"
          asp-ajax="true"
          asp-controller="User"
          asp-action="Update"
          asp-ajax-error="#edit-alert"
          asp-ajax-modal="#edit-modal"
          asp-ajax-success-method="updateList();"
          asp-ajax-block="#edit-content"
          method="post">

        <bootstrap-modal-body>
            <div id="edit-alert" data-alert=""></div>

            <div id="edit-form-div">
                @Html.Partial("_Form", new UserViewModel())
            </div>
        </bootstrap-modal-body>

        <bootstrap-modal-footer asp-show-close-button="true">

            <button type="submit" class="btn btn-success">
                @CommonText.Save
            </button>
        </bootstrap-modal-footer>

    </form>

</bootstrap-modal>


@section scripts{

    <script>

        function showEdit() {
            $("#edit-modal").modal('show');
        }

        function updateList() {

            var url = '@Context.Request.GetEncodedPathAndQuery()';
            updateContainer(url, "#list");
        }

    </script>

}

