@model SearchResult<Category>



@if (Model.Result.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(a => a.Result.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(a => a.Result.First().Name)
                </th>
                <td class="text-center">
                    @CommonText.Actions
                </td>
            </tr>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", "Category", new { id = item.Id })"
                           asp-ajax="true"
                           asp-ajax-block="#list"
                           asp-ajax-success-method="showEdit();"
                           asp-ajax-modal="#edit-modal"
                           asp-ajax-replace="#edit-form-div"
                           class="btn btn-sm green">
                            @CommonText.Edit
                        </a>

                        <button class="btn btn-sm red"
                                data-action="@Url.Action("Delete", "Category", new { id = item.Id })"
                                data-toggle="modal"
                                data-target="#confirm-ajax-modal">
                            @CommonText.Delete
                        </button>
                    </td>
                </tr>
            }
        </table>

    </div>

    <p>
        <strong>
            @CommonText.Total:
        </strong>
        @Model.TotalResultsCount.ToString("N0")
    </p>


    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalResultsCount"
              cs-ajax-target="#list"
              cs-ajax-begin="block('#list')"
              cs-ajax-complete="unblock('#list')"
              asp-controller="Category"
              asp-action="Index">

    </cs-pager>

    <input type="hidden" data-page="@(Model.PageCount >= Model.PageNumber ? Model.PageNumber : Model.PageNumber - 1)" />


}
else
{
    <metronic-empty-note />
}