@model Product

@{
    var categoris = CategoryService.Instance.GetAll();
}

<input type="hidden" asp-for="Id" />


<bootstrap-input-form-group for="Name" />

<div class="form-group">
    <label class="control-label">
        @Html.DisplayNameFor(a => a.Description)
    </label>
    <textarea asp-for="Description" rows="5" class="form-control">
    </textarea>
    <span asp-validation-for="Description" class="text-danger" />

</div>


<div class="form-group">
    <label class="control-label">
        @Html.DisplayNameFor(a => a.CategoryID)
    </label>
    <br />
    <select asp-for="CategoryID" class="form-control">

        <option value="">@CommonText.Select</option>

        @foreach (var item in categoris)
        {
            <option value="@item.Id">
                @item.Name
            </option>
        }
    </select>

    <span asp-validation-for="CategoryID" class="text-danger" />

</div>

<h4>
    المرفقات
</h4>
<hr />
<div class="mt-repeater">
    <div data-repeater-list="Items">

        @if (Model.Items.Any())
        {
            int index = 0;

            foreach (var item in Model.Items)
            {
                <div data-repeater-item>
                    
                    <div class="mt-repeater-input form-group">
                        <input type="hidden" asp-for="Items[Model.Items.IndexOf(item)].Id" name="Id" />

                        <label asp-for="Items[Model.Items.IndexOf(item)].Name" class="control-label">
                            @Html.DisplayNameFor(a => a.Items.First().Name)
                        </label>

                        <input asp-for="Items[Model.Items.IndexOf(item)].Name"
                               class="form-control"
                               autocomplete="off"
                               name="Name" />

                        <span data-valmsg-for="Items[@index][Name]" data-name="Name" data-valmsg-replace="true" class="text-danger"></span>
                    </div>

                    <div class="mt-repeater-input form-group">
                        <label asp-for="Items.First().Description" class="control-label">
                            @Html.DisplayNameFor(a => a.Items.FirstOrDefault().Description)
                        </label>
                        
                        <input asp-for="Items[Model.Items.IndexOf(item)].Description"
                               autocomplete="off"
                               name="Description"
                               class="form-control" />

                        <span data-valmsg-for="Items[@index][Description]" data-name="Description" data-valmsg-replace="true" class="text-danger"></span>
                    </div>

                    <div class="mt-repeater-input">
                        <a class="btn red mt-repeater-delete" data-repeater-delete>
                            <i class="fa fa-close"></i>
                            @CommonText.Delete
                        </a>
                    </div>
                </div>
                {
                    index++;
                }
            }
        }
        else
        {

            <div data-repeater-item>

                <div class="mt-repeater-input form-group">
                    <label asp-for="Items.First().Name" class="control-label">
                        @Html.DisplayNameFor(a => a.Items.FirstOrDefault().Name)
                    </label>
                    <input asp-for="Items.FirstOrDefault().Name" class="form-control" />
                    <span data-valmsg-for="Items[0][Name]" data-name="Name" data-valmsg-replace="true" class="text-danger"></span>
                </div>

                <div class="mt-repeater-input form-group">
                    <label asp-for="Items.First().Description" class="control-label">
                        @Html.DisplayNameFor(a => a.Items.FirstOrDefault().Description)
                    </label>
                    <input asp-for="Items.FirstOrDefault().Description" class="form-control" />
                    <span data-valmsg-for="Items[0][Description]" data-name="Description" data-valmsg-replace="true" class="text-danger"></span>
                </div>

                <div class="mt-repeater-input">
                    <a class="btn red mt-repeater-delete" data-repeater-delete>
                        <i class="fa fa-close"></i>
                        @CommonText.Delete
                    </a>
                </div>
            </div>
        }

    </div>

    <a href="javascript:;" data-repeater-create class="btn btn-success">
        <i class="fa fa-plus"></i>
        اضف مرفق
    </a>
</div>
